.Editors {
	display: flex;
	flex-wrap: wrap;
}

.Editors--horizontal {
	flex-direction: row;
}

.Editors--vertical {
	flex-direction: column;
}

.Editors-editor {
	flex: 1;
}

.Editors-card {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	overflow: auto;
}

@media (max-width: 1439px) {
	.Editors-editor {
		width: 100%;
		flex: auto;
	}
}
