.FileTypes fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.FileTypes-radios {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.FileTypes-radios label {
	flex: 1;
	cursor: pointer;
	padding: 0.5em;
	border: 1px solid #ccc;
	margin-right: -1px;
	margin-bottom: -1px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.FileTypes-radios label:hover {
	background-color: #e0ebf0;
}

.FileTypes-radios label code {
	margin: 0 0.5em;
}

.FileTypes-radios label input[type=radio] {
	pointer-events: none;
}

@media (max-width: 1023px) {
	.FileTypes-radios label {
		flex-basis: 20%;
	}
}
