.Inputs {
	display: flex;
	flex-wrap: wrap;
}

.Inputs-section-octal,
.Inputs-section-decimal {
	flex: 2;
}

.Inputs-section-symbolic {
	flex: 3;
}

.Inputs-input-wrapper {
	position: relative;
}

.Inputs-input-wrapper input {
	width: 100%;
	font: 3em monospace;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	padding: 1.5em 0.33em 0.33em;
	outline: none;
	box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
}

.Inputs-input-wrapper input:focus {
	border-color: #09c;
}

.Inputs-input-wrapper h2 {
	position: absolute;
	top: 0.75em;
	left: 0.75em;
	pointer-events: none;
}

@media (max-width: 767px) {
	.Inputs-section {
		width: 100%;
		flex: auto;
	}

	.Inputs-input-wrapper input {
		font-size: 2em;
		padding: 2.25em 0.5em 0.5em;
	}
}
