.PermissionsGrid {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(4, 1fr);
}

.PermissionsGrid label {
	flex: 1;
	margin-right: -1px;
	margin-bottom: -1px;
}

.PermissionsGrid-S_IRWXUGO {
	background-color: #ddd;
}

.PermissionsGrid-S_IRWXU,
.PermissionsGrid-S_IRWXG,
.PermissionsGrid-S_IRWXO,
.PermissionsGrid-S_IRUGO,
.PermissionsGrid-S_IWUGO,
.PermissionsGrid-S_IXUGO {
	background-color: #eee;
}
